html {
  font-family: Georgia, serif;
  color: #fff;
}

.bg {
  max-height: 500px;
}

.btn {
  border-color: #97a49b;
  background-color: transparent;
  color: #fff;
}

.image {
  background-image: linear-gradient(to bottom,rgba(73, 85, 98, 0), rgba(73, 85, 98, .9));
  background-size: cover;
}

.content {
  background-color: #495562;
}

@media only screen and (min-width: 60em) {

  .image {
    bottom: 0;
  }

}
