html {
  font-family: Georgia, serif;
  color: #fff;
}

img {
  max-height: 500px;
}

.bg {
  background-color: #495562;
}

.btn {
  border-color: #97a49b;
  background-color: #495562;
  color: #fff;
}

.image {
  background: linear-gradient (to top,rgba(73, 85, 98, .9);
}
